[submodule "cause/api/management"]
	path = cause/api/management
	url = https://github.com/CAUCA-9-1-1/management-api.git
[submodule "cause/api/survip"]
	path = cause/api/survip
	url = https://github.com/CAUCA-9-1-1/survip-api.git
